@import 'reset';
.container{
    height: 100vh;
    width: 100%;
    background-color: rgb(6, 176, 199);

    
}

@media only screen and (max-width:700px) {
    .container{

        background-color: rgb(61, 199, 6);
    
        
    }
}


/* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
//     .example {background: red;}
//   }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
//   @media only screen and (min-width: 600px) {
//     .example {background: green;}
//   }
  
  /* Medium devices (landscape tablets, 768px and up) */
//   @media only screen and (min-width: 768px) {
//     .example {background: blue;}
//   } 
  
  /* Large devices (laptops/desktops, 992px and up) */
//   @media only screen and (min-width: 992px) {
//     .example {background: orange;}
//   } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
//   @media only screen and (min-width: 1200px) {
//     .example {background: pink;}
//   }

// https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_mediaquery_breakpoints