header{
    width: 100%;
    height: 200px;
    background-color: green;
    .logo{
        h1{
            color: $qirmizi;
            font-size: 30px
        }
    }
    @include space-between;

    nav{
        width: 50%;
        ul{
    @include space-between;
     
        }
    }
}